body{
  background: #EAF6F6;
}
img{
border-radius: 50%;
}

li{
  line-height: 1;
}
td{
  padding: 10px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 10%;
}

h1, h2{
  color: #66BFBF
}
